# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

#import numpy as np
#import matplotlib.pyplot as plt
#from citipy import citipy

#Import Weather API key ???
#from config import weather_api_key

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("WeatherPy_database.csv")

# Display sample data
city_data_df.sample(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
184,184,Dalbandin,PK,28.8947,64.4101,73.13,10,0,3.00,clear sky
563,563,Fukue,JP,32.6881,128.8419,58.95,61,3,24.58,clear sky
399,399,Ngunguru,NZ,-35.6167,174.5000,57.25,93,100,10.78,overcast clouds
437,437,Ponta Delgada,PT,37.7333,-25.6667,58.50,77,75,20.71,light intensity shower rain
597,597,Aiken,US,33.5835,-81.5998,82.11,52,0,13.80,clear sky
333,333,San Cristobal,VE,7.7669,-72.2250,78.98,45,100,3.36,overcast clouds
556,556,Helong,CN,42.5397,128.9972,32.83,85,18,4.54,few clouds
683,683,Morondava,MG,-20.2833,44.2833,77.43,78,5,14.72,clear sky
505,505,Lianzhou,CN,24.7811,112.3825,65.75,57,100,9.42,overcast clouds
220,220,Kurikka,FI,62.6167,22.4167,40.08,94,42,7.05,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your preferred minimum temperature on vacation?"))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your preferred maximum temperature on vacation?"))

What is your preferred minimum temperature on vacation?60
What is your preferred maximum temperature on vacation?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.sample(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
489,489,Kulhudhuffushi,MV,6.6221,73.0700,77.52,92,100,20.87,overcast clouds
316,316,East London,ZA,-33.0153,27.9116,68.94,83,20,9.22,few clouds
513,513,Broken Hill,AU,-31.9500,141.4333,62.55,43,100,14.63,overcast clouds
506,506,Urucara,BR,-2.5364,-57.7600,85.39,64,100,0.63,moderate rain
412,412,Kang,BW,-23.6752,22.7876,69.89,59,100,10.13,overcast clouds
527,527,Omboue,GA,-1.5746,9.2618,78.22,86,21,7.18,few clouds
200,200,Siavonga,ZM,-16.5382,28.7088,83.80,33,9,7.72,clear sky
269,269,Languyan,PH,5.2618,120.0807,78.51,86,100,1.59,light rain
652,652,Mokobeng,BW,-22.9965,27.6678,75.70,42,97,6.49,overcast clouds
668,668,Boa Vista,BR,2.8197,-60.6733,87.78,51,75,5.75,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.sample(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
569,569,Ratzeburg,DE,53.7000,10.7667,62.71,72,75,4.61,broken clouds
665,665,Oistins,BB,13.0667,-59.5333,87.89,70,40,10.36,scattered clouds
392,392,Abu Samrah,SY,35.3029,37.1841,72.41,58,64,8.46,broken clouds
240,240,Sorong,ID,-0.8833,131.2500,80.24,85,58,9.89,broken clouds
36,36,Coihaique,CL,-45.5752,-72.0662,75.81,35,0,8.05,clear sky
116,116,Ocean City,US,39.2776,-74.5746,67.01,77,100,11.99,overcast clouds
551,551,Coahuayana,MX,18.7333,-103.6833,87.13,67,100,5.37,light rain
523,523,Nagato,JP,34.3833,131.2000,61.05,65,93,17.36,overcast clouds
489,489,Kulhudhuffushi,MV,6.6221,73.0700,77.52,92,100,20.87,overcast clouds
301,301,Demba,CD,-5.5100,22.2667,70.39,90,35,1.19,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.sample(10)

              City Country  Max Temp Current Description      Lat       Lng
664  Cockburn Town      TC     81.55           clear sky  21.4612  -71.1419
486     North Bend      US     68.16           clear sky  43.4065 -124.2243
393    Sigmaringen      DE     60.64     overcast clouds  48.0833    9.2167
238          Lagoa      PT     61.00          light rain  39.0500  -27.9833
329       Buraydah      SA     82.85           clear sky  26.3260   43.9750
420     Payakumbuh      ID     68.77     overcast clouds  -0.2202  100.6308
129         Olinda      BR     82.13    scattered clouds  -8.0089  -34.8553
380      Hurbanovo      SK     61.05     overcast clouds  47.8698   18.1923
60           Kindu      CD     70.36          light rain  -2.9500   25.9500
293           Tura      IN     69.57           clear sky  25.5198   90.2201

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df.insert(1, "Hotel Name", value=['' for i in range(hotel_df.shape[0])])

# Display sample data
hotel_df.sample(10)

,City,Hotel Name,Country,Max Temp,Current Description,Lat,Lng
499,Lae,,PG,75.24,heavy intensity rain,-6.7221,146.9847
203,Muros,,ES,65.68,few clouds,42.7762,-9.0603
681,Marzuq,,YE,69.55,clear sky,14.4000,46.4667
597,Aiken,,US,82.11,clear sky,33.5835,-81.5998
471,Cacequi,,BR,73.60,overcast clouds,-29.8836,-54.8250
200,Siavonga,,ZM,83.80,clear sky,-16.5382,28.7088
106,Karoi,,ZW,74.12,few clouds,-16.8099,29.6925
168,Moindou,,NC,72.54,broken clouds,-21.6924,165.6770
15,Elizabeth City,,US,79.05,clear sky,36.2946,-76.2511
647,Troyes,,FR,63.37,moderate rain,48.3333,4.0833

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.sample(10)

,City,Hotel Name,Country,Max Temp,Current Description,Lat,Lng
66,Gat,OlusHome,IL,74.08,clear sky,31.6100,34.7642
2,Kavieng,Nusa Island Retreat,PG,82.06,overcast clouds,-2.5744,150.7967
537,Nanakuli,Camp Pālehua,US,81.43,clear sky,21.3906,-158.1547
544,Mubende,Nakayima Hotel,UG,61.56,overcast clouds,0.5606,31.3900
532,San Vicente,Complejo Turístico Farelluk,AR,76.53,overcast clouds,-26.6167,-54.1333
330,Riyadh,"InterContinental Riyadh, an IHG Hotel",SA,82.54,broken clouds,24.6877,46.7219
485,Vanimo,Vahmoneh Lodge Vanimo,PG,76.73,overcast clouds,-2.6741,141.3028
305,Tabas,شرکت معماری مهراز شایگان آراد,IR,78.03,few clouds,33.5959,56.9244
360,Ouadda,,CF,69.67,light rain,8.0777,22.4007
624,Inongo,Hotel Du Lac,CD,75.11,scattered clouds,-1.9500,18.2667

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.sample(10)

,City,Hotel Name,Country,Max Temp,Current Description,Lat,Lng
179,Ferrandina,Hotel degli Ulivi,IT,66.29,clear sky,40.5012,16.4547
266,Lata,Casa Maquia,PT,72.91,scattered clouds,40.1629,-8.3327
76,Chuy,Nuevo Hotel Plaza,UY,63.36,broken clouds,-33.6971,-53.4616
85,Sao Joao Da Barra,Pousada Porto De Canoas,BR,82.49,broken clouds,-21.6403,-41.0511
679,Santo Antonio Do Sudoeste,Hotel Frontera,BR,76.55,overcast clouds,-26.0736,-53.7253
665,Oistins,Butterfly Beach Hotel,BB,87.89,scattered clouds,13.0667,-59.5333
357,Tagusao,Caycay future beach resort,PH,80.17,overcast clouds,9.1924,117.8141
664,Cockburn Town,Osprey Beach Hotel,TC,81.55,clear sky,21.4612,-71.1419
641,Ebolowa,Florence Hotel Ebolowa,CM,69.48,light rain,2.9000,11.1500
372,Hobyo,Halane Hotel and Restaurent,SO,78.35,scattered clouds,5.3505,48.5268

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Dibbo areaمنطقة دبو</dd>\n<dt>City</dt><dd>Kutum</dd>\n<dt>Country</dt><dd>SD</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CHACARA BAILLY</dd>\n<dt>City</dt><dd>Castro</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 63.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Kamana</dd>\n<dt>City</dt><dd>Lima</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 61.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Desert Palms Alice Springs</dd>\n<dt>City</dt><dd>Alice Springs</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>light rain and 65.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 75.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 78.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hampton Inn Elizabeth City</dd>\n<dt>City</dt><dd>Elizabeth City</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.05 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   14.2000   24.6667
1   17.0151   54.0924
2   -2.5744  150.7967
4  -24.7911  -50.0119
5  -34.4187   19.2345
6  -12.0432  -77.0282
8  -23.7000  133.8833
9   -3.8004  102.2655
11  22.0752 -159.3190
15  36.2946  -76.2511

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))